@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/* Add a black background color to the top navigation */
.topnav {
  background-color: #e15d53;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e15d53;
  color: white;
}

.top-half {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background: #e15d53;
height: 25vh;
width: 100%;
font-family: 'Tourney', cursive;

color: white;
}

#casey-title {
    font-size: 60px;
    font-family: 'Tourney', cursive;
}

* {
    margin: 0;
    padding: 0;
  }

  .all-images {
      display: flex;
      justify-content: space-evenly;
      padding: 50px 50px;
  }
.image-container {
    display: flex;
    object-fit: contain;
    overflow: hidden;
    width: 400px;
    height: 400px; }

.image-title {
    padding: 15px;
    text-align: center;
}